{% extends "base.html" %}
{% block extrajs %}
<script src="{{ STATIC_PREFIX }}js/historial.js"></script>
{% endblock %}
{% block body %}
<div class="page-content">
  <div class="page-header">
    <h1>
     Historial
    </h1>
  </div><!-- /.page-header -->
  <div class="row">
    <div class="col-md-12">
      <div class="noticias-contenido">
        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="tab-departamentos">
          {% for departamento in departamentos %}
          <li class="{% if forloop.first %}active{% endif %} tab-departamentos-pestania">
            <a href="#dep{{ forloop.counter }}" data-toggle="tab"><p class="text-info">{{ departamento.nombre_edificio }} - {{ departamento.numero }}</p></a>
          </li>
          {% endfor %}
        </ul>
        {% if departamentos %}
        <div class="tab-content">
          {% for departamento in departamentos %}
          <div class="tab-pane {% if forloop.first %}active{% endif %} tab-departamentos-cotenido" id="dep{{ forloop.counter }}">
            
            <table border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="50%">Selecciona el año</td>
                <td width="50%">
                  <select id="anio--{{ forloop.counter }}" name="anio" class="anio">
                  {% for anio in anios %}
                    <option value="{{ anio }}">{{ anio }}</option>
                  {% endfor %}
                  </select>
                </td>
              </tr>
            </table>
            <div class="table-responsive">
            <table class="table table-bordered tabla-historial" id="departamento---{{departamento.id}}">
              <thead>
                <tr>
                  <th >Date</th>
                  <th >No de recibo</th>
                  <th >Fecha</th>  
                  <th >Importe recibo</th>
                  <th >Importe pagado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td ></td>
                  <td >Cargando ...</td>
                  <td ></td>
                  <td ></td>
                  <td ></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
